<conf>
    <db>
       <miolo>
           <password></password>
       </miolo>
       <common>
           <password></password>
       </common>
       <admin>
           <password></password>
       </admin>
       <ufjf>
           <password></password>
       </ufjf>
       <sigabib>
           <password></password>
       </sigabib>
    </db>
</conf>