<?xml version="1.0" encoding="ISO-8859-1" standalone="yes" ?> 
<conf>
    <home>
       <miolo>/usr/local/miolo2</miolo>
       <classes>/usr/local/miolo2/classes</classes>
       <modules>/usr/local/miolo2/modules</modules>
       <etc>/usr/local/miolo2/etc</etc>
       <logs>/usr/local/miolo2/var/log</logs>
       <trace>/usr/local/miolo2/var/trace</trace>
       <db>/usr/local/miolo2/var/db</db>
       <html>/usr/local/miolo2/html</html>
       <themes>/usr/local/miolo2/classes/ui/themes</themes>
       <extensions>/usr/local/miolo2/classes/extensions</extensions>
       <reports>/usr/local/miolo2/var/reports</reports>
       <images>/usr/local/miolo2/ui/images</images>
       <url>http://miolo2.localhost</url>
       <url_themes>/themes</url_themes>
       <url_reports>/reports</url_reports>
       <module.themes>/ui/themes</module.themes>
       <module.html>/html</module.html>
       <module.images>/html/images</module.images>
       <url_jasper>http://miolo.localhost:8080/MioloJasper/Report</url_jasper>
    </home>
    <i18n>
        <language>pt_BR</language>
        <locale>/usr/local/miolo2/locale</locale>
    </i18n>
    <namespace>
       <core>/classes</core>
       <service>/classes/services</service>
       <ui>/classes/ui</ui>
       <themes>/ui/themes</themes>
       <extensions>/classes/extensions</extensions>
       <controls>/ui/controls</controls>
       <database>/classes/database</database>
       <utils>/classes/utils</utils>
       <modules>/modules</modules>
    </namespace>
    <menu>
	   <tutorial>Tutorial</tutorial>
    </menu>
    <theme>
	   <module></module>
	   <main>system</main>
	   <lookup>system</lookup>
	   <title>UFJF/SIGA</title>
           <company>Universidade Federal de Juiz de Fora</company>
           <system>UFJF/SIGA - Sistema Integrado de Gestão Acadêmica</system>
           <logo>icon_siga.gif</logo>
           <email>siga@ufjf.edu.br</email>
    </theme>
    <session>
	   <handler>file</handler>
	   <timeout>30</timeout>
    </session>
    <options>
	   <startup>admin</startup>
	   <scramble>0</scramble>
	   <scramble.password>password</scramble.password>
	   <dispatch>index.php</dispatch>
	   <url.style>0</url.style>
	   <index>index.php</index>
	   <mainmenu>2</mainmenu>
           <mainmenu.style>office2003</mainmenu.style>
           <mainmenu.clickopen>false</mainmenu.clickopen>
	   <dbsession>0</dbsession>
	   <authmd5>0</authmd5>
	   <debug>1</debug>
	   <charset>ISO-8859-1</charset>
	   <dump>
	       <peer>127.0.0.1</peer>
	       <profile>false</profile>
	       <uses>false</uses>
	       <trace>false</trace>
	       <handlers>false</handlers>
           </dump>
           <loading>
               <show>false</show>
               <generating>false</generating>
           </loading>
           <performance>
               <uri_images>true</uri_images>
               <uri_themes>true</uri_themes>
           </performance>
    </options>
    <mad>
<!--
        <module>common</module>
	<classes>
	    <access>acesso</access>
	    <group>grupo</group>
	    <log>log</log>
	    <session>sessao</session>
	    <transaction>transacao</transaction>
	    <user>usuario</user>
        </classes>
-->
        <module>admin</module>
	<classes>
	    <access>access</access>
	    <group>group</group>
	    <log>log</log>
	    <session>session</session>
	    <transaction>transaction</transaction>
	    <user>user</user>
        </classes>
    </mad>
    <logs>
        <level>2</level>
	<handler>socket</handler>
        <peer>0</peer>
	<port>0</port>
    </logs>
    <db>
       <miolo>
           <system>sqlite</system>
           <host>localhost</host>
           <name>/usr/local/miolo2/var/db/miolo.sqlite</name>
           <user>miolo</user>
           <password>miolo</password>
       </miolo>
       <admin>
           <system>sqlite</system>
           <host>localhost</host>
           <name>/usr/local/miolo2/modules/admin/sql/admin.sqlite</name>
           <user>miolo</user>
           <password>miolo</password>
       </admin>
    </db>
    <login>
        <module>admin</module>
        <class>MAuthDb</class>
        <check>true</check>
        <shared>true</shared>
        <auto>0</auto>
    </login>
</conf>
